<a href="https://colab.research.google.com/github/akiabe/coursera-sql-basics-for-ds/blob/master/C1W2_Practice_Quiz.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Table titled: salary_range_by_job_classification. 

This table contains the following columns:

SetID

Job_Code

Eff_Date

Sal_End_Date

Salary_setID

Sal_Plan

Grade

Step

Biweekly_High_Rate

Biweekly_Low_Rate

Union_Code

Extended_Step

Pay_Type

1. Find the distinct values for the extended step. The code has been started for you, but you will need to program the third line yourself before running the query.

In [0]:
SELECT 
distinct Extended_step
FROM salary_range_by_job_classification

In [0]:
0
11
6
2

2. Excluding $0.00, what is the minimum bi-weekly high rate of pay (please include the dollar sign and decimal point in your answer)? The code has been started for you, but you will need to add onto the last line of code to get the correct answer.

In [0]:
Select 
min(Biweekly_high_Rate)
From salary_range_by_job_classification
where biweekly_high_rate <> '$0.00'

In [0]:
+-------------------------+
| min(Biweekly_high_Rate) |
+-------------------------+
| $100.00                 |
+-------------------------+

4. What is the maximum biweekly high rate of pay (please include the dollar sign and decimal point in your answer)? The code has been started for you, but you will need to add onto the last line of code to get the correct answer.

In [0]:
SELECT 
Max(Biweekly_high_Rate) 
From salary_range_by_job_classification;

In [0]:
+-------------------------+
| Max(Biweekly_high_Rate) |
+-------------------------+
| $9726.38                |
+-------------------------+

5. What is the pay type for all the job codes that start with '03'? The code has been started for you, but you will need to program the fourth and fifth lines yourself before running the query.

In [0]:
Select
job_code,
pay_type
From salary_range_by_job_classification
where job_code like '03%'

In [0]:
+----------+----------+
| Job_Code | Pay_Type |
+----------+----------+
| 0380     | B        |
| 0381     | B        |
| 0382     | B        |
| 0390     | B        |
| 0395     | B        |
| 0380     | B        |
| 0381     | B        |
| 0382     | B        |
+----------+----------+

6. Run a query to find the Effective Date (eff_date) or Salary End Date (sal_end_date) for grade Q90H0? The code has been started for you, but you will need to program the third through the sixth lines yourself before running the query.

In [0]:
Select
grade,
eff_date,
sal_end_date
From salary_range_by_job_classification
where grade = 'Q90H0'

In [0]:
+-------+------------------------+------------------------+
| Grade | Eff_Date               | Sal_End_Date           |
+-------+------------------------+------------------------+
| Q90H0 | 12/26/2009 12:00:00 AM | 06/30/2010 12:00:00 AM |
+-------+------------------------+------------------------+

7. Sort the Biweekly low rate in ascending order. There is no starter code, as you need to write and run the query on your own. Hint: there are 4 lines to run this query.

In [0]:
Select
biweekly_low_rate
From salary_range_by_job_classification
order by biweekly_low_rate asc          
# DESC -- Descending order
# ASC -- Ascending order

In [0]:
+-------------------+
| Biweekly_Low_Rate |
+-------------------+
| $0.00             |
| $0.00             |
| $0.00             |
| $0.00             |
| $100.00           |
| $100.00           |
| $10059.00         |
| $10376.00         |
| $1052.00          |
| $10630.00         |
| $10843.00         |
| $1088.00          |
| $1112.00          |
| $11255.00         |
| $11405.00         |
| $1162.00          |
| $12120.77         |
| $1280.00          |
| $1284.00          |
| $1298.00          |
| $1299.00          |
| $1381.00          |
| $1384.00          |
| $1405.00          |
| $1464.00          |
+-------------------+
(Output limit exceeded, 25 of 1356 total rows shown)

8. What Step are Job Codes 0110-0400? Hint: there are 6 lines to run this query.

In [0]:
SELECT 
Job_Code,
Salary_setID,
Step
FROM salary_range_by_job_classification
where Job_Code between "0110" and "0400"

In [0]:
+----------+--------------+------+
| Job_Code | Salary_SetID | Step |
+----------+--------------+------+
| 0110     | COMMN        | 1    |
| 0111     | COMMN        | 1    |
| 0112     | COMMN        | 1    |
| 0114     | COMMN        | 1    |
| 0115     | COMMN        | 1    |
| 0116     | COMMN        | 1    |
| 0118     | COMMN        | 1    |
| 0119     | COMMN        | 1    |
| 0140     | COMMN        | 1    |
| 0150     | COMMN        | 1    |
| 0170     | COMMN        | 1    |
| 0180     | COMMN        | 1    |
| 0190     | COMMN        | 1    |
| 0380     | COMMN        | 1    |
| 0381     | COMMN        | 1    |
| 0382     | COMMN        | 1    |
| 0390     | COMMN        | 1    |
| 0395     | COMMN        | 1    |
| 0400     | COMMN        | 1    |
| 0140     | COMMN        | 1    |
| 0150     | COMMN        | 1    |
| 0380     | COMMN        | 1    |
| 0381     | COMMN        | 1    |
| 0382     | COMMN        | 1    |
+----------+--------------+------+

9. What is the Biweekly High Rate minus the Biweekly Low Rate for job Code 0170?

In [0]:
Select
Job_code,
Biweekly_high_rate,
Biweekly_low_rate, 
(biweekly_high_rate - Biweekly_low_rate) as calc
From salary_range_by_job_classification
Where Job_code = '0170'

In [0]:
+----------+--------------------+-------------------+------+
| Job_Code | Biweekly_High_Rate | Biweekly_Low_Rate | calc |
+----------+--------------------+-------------------+------+
| 0170     | $4142.00           | $4142.00          |    0 |
+----------+--------------------+-------------------+------+

10. What is the Extended Step for Pay Types M, H, and D?

In [0]:
Select
Extended_step,
Pay_Type
From salary_range_by_job_classification
Where Pay_Type in ('M', 'H', 'D');

In [0]:
+---------------+----------+
| Extended_Step | Pay_Type |
+---------------+----------+
| 0             | D        |
| 0             | D        |
| 0             | D        |
| 0             | M        |
| 0             | D        |
| 0             | D        |
| 0             | M        |
| 0             | H        |
| 0             | H        |
| 0             | H        |
| 0             | H        |
| 0             | H        |
| 0             | H        |
| 0             | H        |
| 0             | H        |
+---------------+----------+

11. What is the step for Union Code 990 and a Set ID of SFMTA or COMMN?

In [0]:
SELECT 
Union_code,
SetID,
Step
from salary_range_by_job_classification
where Union_code = 990 and (SetID = 'SFMTA' or SetID = 'COMMN')

In [0]:
+------------+-------+------+
| Union_Code | SetID | Step |
+------------+-------+------+
| 990        | COMMN | 1    |
+------------+-------+------+